@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.banner {
  min-height: 60vh;
  background: url("../../images/assets/banner-img.png") center/cover no-repeat;
  display: flex;

  justify-content: center;
  align-items: center;
}

.banner__body {
  padding: var.$gutter-base * 2 var.$gutter-base * 15 var.$gutter-base * 2
    var.$gutter-base * 2;

  @media (max-width: 1024px) {
    padding-right: var.$gutter-base * 7;
  }

  @media (max-width: 550px) {
    padding-right: var.$gutter-base;
  }

  h1 {
    font-size: (var.$gutter-base * 2);
    font-weight: var.$font-weight-medium;
    margin-bottom: math.div(var.$gutter-base, 2);

    @media (max-width: 900px) {
      font-size: var.$gutter-base * 1.3;
    }

    @media (max-width: 550px) {
      font-size: var.$gutter-base;
    }

    span {
      color: var.$color-green;
    }
  }

  P {
    font-size: var.$gutter-base;
    line-height: var.$line-height-base;
    margin-bottom: 0;

    @media (max-width: 768px) {
      font-size: math.div(var.$gutter-base, 1.5);
    }

    @media (max-width: 550px) {
      font-size: math.div(var.$gutter-base, 2);
    }
  }
}
