@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// font settings
$font-family-base:            "Plus Jakarta Sans";

$font-size-small:              rem-calc(14);
$font-size-base:               rem-calc(16);
$font-size-medium:             rem-calc(18);

$heading-size-small:           rem-calc(24);
$heading-size-base:            rem-calc(36);

$font-weight-normal:           400;
$font-weight-medium:           500;
$font-weight-bold:             700;

$text-color-base:              #363636;
$text-color-primary:           #FFFFFF;

$color-green:                  #549663;
$color-red:                    #D43B4A; 
$color-belge:                  #F0D8A8;
$color-wellow:                 #FFD800;

$background-color-base:        #FFF;
$background-color-primary:     #F1F0F5;

$line-height-base:             1.5;
$line-height-small:            1.25;

// size settings
$gutter-base:                  rem-calc(30);
$max-width-base:               80%;
$max-width-small:              60%;

// border settings
$border-width-base:            rem-calc(1);
$border-radius-base:           rem-calc(4);
